<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W - stats.html</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" th:href="@{/css/search_input.css}">
    <link rel="stylesheet" th:href="@{/css/colors.css}">
</head>
<body class="max-w-svw min-h-svh flex justify-end items-start bg-light-faded text-dark">
<aside class="fixed z-10 bottom-0 left-0 md:top-0 h-[10%] md:h-full w-full md:w-[30%] xl:w-[20%] p-3 flex flex-col justify-center gap-12">
    <th:block th:insert="~{fragments/admin_sidebar :: admin_sidebar (page = ${'stats'})}"></th:block>
</aside>
<main class="min-h-[90%] md:min-h-full w-full md:w-[70%] xl:w-[80%] p-3 pb-0 md:pb-3 flex flex-col justify-center items-center">
    <div class="grow min-h-full size-full p-6 flex flex-col gap-6 rounded-lg shadow-md md:shadow-lg bg-lighter text-dark">
        <th:block th:insert="~{fragments/viewfeed_header}"></th:block>

        <div class="w-full mt-3 md:mt-0 grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="relative size-full p-3 rounded-lg bg-light-faded">
                <canvas id="age-group-chart"></canvas>
            </div>

            <div class="relative col-span-2 h-full size-full p-3 flex flex-col items-center rounded-lg bg-light-faded">
                <canvas id="user-growth-chart"></canvas>
            </div>
        </div>

        <div class="min-h-36 w-full grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="col-span-1 md:col-span-2 grid grid-cols-3 gap-6">
                <div class="aspect-auto md:aspect-square size-full p-3 flex flex-col gap-3 justify-center items-center rounded-lg bg-light-faded">
                    <div th:with="difference = ${postCount.getToday() - postCount.getYesterday()}" class="break-words">
                        <span th:text="${postCount.getToday()}"
                              class="font-semibold text-xl lg:text-3xl xl:text-4xl"></span>
                        <span th:text="${(difference < 0) ? difference : '+' + difference}"
                              class="font-medium text-sm xl:text-base"
                              th:classappend="${(difference <= 0) ? 'text-warning-lighter' : 'text-success'}">+65</span>
                    </div>
                    <span>Posts Today</span>
                </div>

                <div class="aspect-auto md:aspect-square size-full p-3 flex flex-col gap-3 justify-center items-center rounded-lg bg-light-faded">
                    <div th:with="difference = ${postCount.getThisWeek() - postCount.getLastWeek()}"
                         class="break-words">
                        <span th:text="${postCount.getThisWeek()}"
                              class="font-semibold text-xl lg:text-3xl xl:text-4xl"></span>
                        <span th:text="${(difference < 0) ? difference : '+' + difference}"
                              class="font-medium text-sm xl:text-base"
                              th:classappend="${(difference <= 0) ? 'text-warning-lighter' : 'text-success'}">+65</span>
                    </div>
                    <span>Posts This Week</span>
                </div>

                <div class="aspect-auto md:aspect-square size-full p-3 flex flex-col gap-3 justify-center items-center rounded-lg bg-light-faded">
                    <div th:with="difference = ${postCount.getThisMonth() - postCount.getLastMonth()}"
                         class="break-words">
                        <span th:text="${postCount.getThisMonth()}"
                              class="font-semibold text-xl lg:text-3xl xl:text-4xl"></span>
                        <span th:text="${(difference < 0) ? difference : '+' + difference}"
                              class="font-medium text-sm xl:text-base"
                              th:classappend="${(difference <= 0) ? 'text-warning-lighter' : 'text-success'}">+65</span>
                    </div>
                    <span>Posts This Month</span>
                </div>
            </div>

            <div class="size-full p-3 flex flex-col justify-center items-center gap-3 rounded-lg text-white bg-accent">
                <div th:with="difference = ${activeUserNumber.getThisWeek() - activeUserNumber.getLastWeek()}">
                    <span th:text="${activeUserNumber.getThisWeek()}" class="font-semibold text-4xl"></span>
                    <span class="font-medium text-sm xl:text-base" th:text="${(difference < 0) ? difference : '+' + difference}"
                          th:classappend="${(difference <= 0) ? 'text-warning-lighter' : 'text-lightgreen'}">+69</span>
                </div>
                <span>Weekly Active Users</span>
            </div>
        </div>
    </div>

    <!--/* mobile layout action menu spacer */-->
    <div class="block md:hidden h-[10svh] w-full"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const ageGroups = [[${ageGroups}]];
        const userGrowthCounts = [[${userGrowthCounts}]];

        console.log(userGrowthCounts);

        new Chart(
            document.getElementById("age-group-chart"),
            {
                type: "pie",
                data: {
                    labels: ageGroups.map(row => row.age),
                    datasets: [
                        {
                            label: "Users",
                            data: ageGroups.map(row => row.count),
                        }
                    ]
                },
                options: {
                    maintainAspectRatio: false,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Users by Age Groups',
                            color: "#2a5045",
                            position: "bottom",
                            padding: {
                                top: 12
                            }
                        },
                        legend: {
                            labels: {
                                padding: 12
                            },
                            title: {
                                padding: 12
                            }
                        }
                    }
                }
            }
        );

        new Chart(
            document.getElementById("user-growth-chart"),
            {
                type: "line",
                data: {
                    labels: userGrowthCounts.map(row => row.date),
                    datasets: [
                        {
                            label: "New Users",
                            data: userGrowthCounts.map(row => row.count)

                        }
                    ]
                },
                options: {
                    maintainAspectRatio: false,
                    plugins: {
                        title: {
                            display: true,
                            text: 'User Growth by Day',
                            color: "#2a5045",
                            position: "bottom",
                            padding: {
                                top: 12
                            }
                        },
                        legend: {
                            labels: {
                                padding: 12
                            },
                            title: {
                                padding: 12
                            }
                        }
                    }
                }
            }
        );
        /*]]>*/
    </script>
</main>
</body>
</html>