<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W - Users</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/search_input.css}">
    <link rel="stylesheet" th:href="@{/css/colors.css}">
</head>
<body class="max-w-svw min-h-svh flex justify-end items-start bg-light-faded text-dark">
<aside class="fixed z-10 bottom-0 left-0 md:top-0 h-[10%] md:h-full w-full md:w-[30%] xl:w-[20%] p-3 flex flex-col justify-center gap-12">
    <th:block th:insert="~{fragments/admin_sidebar :: admin_sidebar (page = ${'users'})}"></th:block>
</aside>
<main class="min-h-[90%] md:min-h-full w-full md:w-[70%] xl:w-[80%] p-3 pb-0 md:pb-3 flex flex-col justify-center items-center">
    <div th:with="users = ${page.getContent()}"
         class="grow min-h-full size-full p-6 flex flex-col rounded-lg shadow-md md:shadow-lg bg-lighter text-dark">
        <th:block th:insert="~{fragments/viewfeed_header}"></th:block>

        <h1 class="mt-9 md:mt-6 mb-12 text-center font-bold text-4xl">Users List</h1>

        <table th:if="${users != null}" class="min-h-full w-full table-fixed break-words">
            <thead>
            <tr class="text-left">
                <th class="w-[10%] p-3 bg-dark text-white border-y border-collapse">#</th>
                <th class="p-3 bg-dark text-white border-y border-collapse">Username</th>
                <th class="p-3 bg-dark text-white border-y border-collapse">Display Name</th>
                <th class="w-[15%] p-3 bg-dark text-white border-y border-collapse">Age</th>
                <th class="p-3 bg-dark text-white border-y border-collapse">Option</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}" class="p-3 text-dark border-y border-collapse"></td>
                <td class="p-3 text-dark border-y border-collapse">
                    <a th:href="@{/users/{id}(id = ${user.getId()})}"
                       th:text="${'@' + user.getUsername()}"
                       class="underline text-success"
                    ></a>
                </td>
                <td class="p-3 text-dark border-y border-collapse" th:text="${user.getDisplayName()}"></td>
                <td class="max-w-full p-3 text-dark border-y border-collapse overflow-hidden text-ellipsis"
                    th:text="${user.getAge()}"></td>
                <td class="p-3 text-dark border-y border-collapse">
                    <form th:id="${'user-form-' + user.getId()}" th:action="@{/users/{id}(id = ${user.getId()})}"
                          method="POST"
                          class="max-w-full mb-0 flex flex-wrap gap-3">
                        <input type="hidden" name="redirect" th:value="@{/admin/users/{page}(page = ${pageNumber})}">
                        <input type="hidden" name="type" value="admin">
                        <input type="hidden" th:id="${'notify-content-' + user.getId()}" name="content">

                        <button th:id="${'notify-button-' + user.getId()}" type="submit"
                                th:formaction="@{/users/{id}/notify(id = ${user.getId()})}"
                                class="aspect-square h-10 flex justify-center items-center rounded-lg btn-notify">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="bi bi-envelope-fill size-[1.5em]" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                            </svg>
                        </button>

                        <button th:with="action = ${(user.getIsNotBanned() == true) ? 'lock' : 'unlock'}"
                                th:formaction="@{/users/{id}/{action}(id = ${user.getId()}, action = ${action})}"
                                class="aspect-square h-10 flex justify-center items-center rounded-lg btn-lock">
                            <svg th:if="${action == 'lock'}" xmlns="http://www.w3.org/2000/svg"
                                 class="bi bi-lock-fill size-[1.5em]" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                            </svg>

                            <svg th:if="${action == 'unlock'}" xmlns="http://www.w3.org/2000/svg"
                                 class="bi bi-unlock-fill size-[1.5em]" viewBox="0 0 16 16">
                                <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2"/>
                            </svg>
                        </button>
                    </form>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        document.getElementById("notify-button-" + [[${user.getId()}]]).addEventListener("click", (e) => {
                            e.preventDefault();
                            const sendButton = document.getElementById("overlay-send");
                            const notificationOverlay = document.getElementById("overlay-notification-input");

                            sendButton.value = [[${user.getId()}]];
                            notificationOverlay.classList.remove("hidden");
                            notificationOverlay.classList.add("flex");
                        });
                        /*]]>*/
                    </script>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:with="entity = ${'users'}" class="grow w-full flex justify-center items-end gap-3">
            <a th:href="@{/admin/{entity}/1(entity = ${entity})}"
               class="aspect-square h-8 p-1 flex justify-center items-center rounded-md btn-pagination"
               th:classappend="${(pageNumber > 1) ? 'visible' : 'invisible'}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="bi bi-chevron-double-left fill-dark size-[1em]" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                    <path fill-rule="evenodd"
                          d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                </svg>
            </a>

            <a th:href="@{/admin/{entity}/{prev}(prev = ${pageNumber - 1}, entity = ${entity})}"
               class="aspect-square h-8 p-1 flex justify-center items-center rounded-md btn-pagination"
               th:classappend="${(page.hasPrevious()) ? 'visible' : 'invisible'}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="bi bi-chevron-left fill-dark size-[1em]" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                </svg>
            </a>

            <div class="min-h-8 flex justify-center items-center">
                <span th:text="${pageNumber + ' of ' + page.getTotalPages() + ' pages'}"></span>
            </div>

            <a th:href="@{/admin/{entity}/{next}(next = ${pageNumber + 1}, entity = ${entity})}"
               class="aspect-square h-8 p-1 flex justify-center items-center rounded-md btn-pagination"
               th:classappend="${(page.hasNext()) ? 'visible' : 'invisible'}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="bi bi-chevron-right fill-dark size-[1em]" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </a>

            <a th:href="@{/admin/{entity}/{last}(last = ${page.getTotalPages()}, entity = ${entity})}"
               class="aspect-square h-8 p-1 flex justify-center items-center rounded-md btn-pagination"
               th:classappend="${(pageNumber < page.getTotalPages()) ? 'visible' : 'invisible'}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="bi bi-chevron-double-right fill-dark size-[1em]" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                    <path fill-rule="evenodd"
                          d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </a>
        </div>
    </div>

    <!--/* mobile layout action menu spacer */-->
    <div class="block md:hidden h-[10svh] w-full"></div>
</main>

<div id="overlay-notification-input"
     class="hidden fixed z-20 top-0 left-0 size-full justify-center items-center bg-darker-transparent">
    <div class="min-h-[50%] min-w-[70%] max-h-[90%] max-w-[90%] p-6 flex flex-col justify-center items-center gap-6 rounded-xl bg-lighter">
        <header class="w-full text-center">
            <h2 class="text-2xl font-bold text-dark mb-1">Send Notification</h2>
            <p class="text-dark-faded">Send a message to the selected user</p>
        </header>

        <div class="grow w-full">
            <label class="min-h-72 w-full h-full rounded-lg bg-light-faded">
                     <textarea id="notify-input" minlength="1" maxlength="256"
                               placeholder="Write your message"
                               class="min-h-72 size-full p-3 rounded-lg bg-light-faded search-input"></textarea>
            </label>
        </div>

        <div class="flex flex-wrap justify-center items-center gap-3">
            <button id="overlay-send" type="button" class="w-32 p-3 font-medium rounded-full btn-accent">
                Send
            </button>

            <button id="overlay-close" type="button" class="w-32 p-3 font-medium rounded-full btn-pagination">
                Cancel
            </button>
        </div>
    </div>

    <script>
        document.getElementById("overlay-close").addEventListener("click", () => {
            const notificationOverlay = document.getElementById("overlay-notification-input");
            notificationOverlay.classList.add("hidden");
            notificationOverlay.classList.remove("flex");
        });

        const overlaySendButton = document.getElementById("overlay-send");
        const notifyInput = document.getElementById("notify-input");

        overlaySendButton.addEventListener("click", () => {
            const userId = overlaySendButton.value;
            const userForm = document.getElementById(`user-form-${userId}`);
            const notifyButton = document.getElementById(`notify-button-${userId}`);
            const notifyContent = document.getElementById(`notify-content-${userId}`);

            notifyContent.value = notifyInput.value;
            userForm.action = notifyButton.formAction;
            userForm.submit();
        });
    </script>
</div>
</body>
</html>