<header th:fragment="viewfeed_header" class="max-h-[10%] w-full p-3 md:hidden flex justify-between items-start">
    <button id="account-button" type="button"
            class="group w-auto h-max p-3 md:hidden flex justify-start items-center rounded-lg gap-5 btn-light">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="bi bi-person size-[1.5em]" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
        </svg>
    </button>

    <!--/*
    <div class="h-12 aspect-square p-1 rounded-full lg:hidden flex justify-center items-center bg-slate-900">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill fill-slate-50 size-[1.5em]"
             viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
    </div>
    */-->

    <div class="md:hidden flex justify-start">
        <a th:href="@{/}"
           class="h-12 aspect-square flex justify-center items-center rounded-lg bg-lighter text-dark text-3xl font-light">W</a>
    </div>

    <button id="search-button" type="button"
            class="group w-auto h-max p-3 md:hidden flex justify-start items-center rounded-lg gap-5 btn-light">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="bi bi-search size-[1.5em]"
             viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
    </button>
</header>